In [2]:
import pandas as pd
import plotly.express as px

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/remijul/dataset/master/Airline%20Passenger%20Satisfaction.csv", sep=';')

df.to_csv("Airline Passenger Satisfaction.csv", index=False)

df.head()

,id,Satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,11112,satisfied,Female,Loyal Customer,65,Personal Travel,Eco,265,0,0,...,2,3,3,0,3,5,3,2,0,0.0
1,110278,satisfied,Male,Loyal Customer,47,Personal Travel,Business,2464,0,0,...,2,3,4,4,4,2,3,2,310,305.0
2,103199,satisfied,Female,Loyal Customer,15,Personal Travel,Eco,2138,0,0,...,2,2,3,3,4,4,4,2,0,0.0
3,47462,satisfied,Female,Loyal Customer,60,Personal Travel,Eco,623,0,0,...,3,1,1,0,1,4,1,3,0,0.0
4,120011,satisfied,Female,Loyal Customer,70,Personal Travel,Eco,354,0,0,...,4,2,2,0,2,4,2,5,0,0.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 24 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   id                                 129880 non-null  int64
 1   Satisfaction                       129880 non-null  object
 2   Gender                             129880 non-null  object
 3   Customer Type                      129880 non-null  object
 4   Age                                129880 non-null  int64
 5   Type of Travel                     129880 non-null  object
 6   Class                              129880 non-null  object
 7   Flight Distance                    129880 non-null  int64
 8   Seat comfort                       129880 non-null  int64
 9   Departure/Arrival time convenient  129880 non-null  int64
 10  Food and drink                     129880 non-null  int64
 11  Gate location                      129880 non-null  int64
 12  Inflight wifi service              129880 non-null  int64
 13  Inflight entertainment             129880 non-null  int64
 14  Online support                     129880 non-null  int64
 15  Ease of Online booking             129880 non-null  int64
 16  On-board service                   129880 non-null  int64
 17  Leg room service                   129880 non-null  int64
 18  Baggage handling                   129880 non-null  int64
 19  Checkin service                    129880 non-null  int64
 20  Cleanliness                        129880 non-null  int64
 21  Online boarding                    129880 non-null  int64
 22  Departure Delay in Minutes         129880 non-null  int64
 23  Arrival Delay in Minutes           129487 non-null  float64
dtypes: float64(1), int64(18), object(5)
memory usage: 23.8+ MB

In [7]:
df.isna().sum()

id                                     0
Satisfaction                           0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Seat comfort                           0
Departure/Arrival time convenient      0
Food and drink                         0
Gate location                          0
Inflight wifi service                  0
Inflight entertainment                 0
Online support                         0
Ease of Online booking                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Cleanliness                            0
Online boarding                        0
Departure Delay in Minutes             0
Arrival Delay in Minutes             393
dtype: int64